h1 {
    color: red;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 20px;
}

img {
    width: 150px;
    height: auto;
}

p {
    text-align: center;
    font-size: 1.2em;
}
