.weather_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: rebeccapurple;
}

@media (min-aspect-ratio: 16/9) {
    .weather_video{
        height: 300%;
        top: -100%;
    }
}